@import url("/style.css");
@import url("../components/Avatar/avatar.css");
@import url("../components/Badge/badge.css");
@import url("../components/Image-Resp/image.css");
@import url("../components/Input/input.css");
@import url("../components/Alert/alert.css");
@import url("../components/Button/button.css");
@import url("../components/Card/card.css");
@import url("/style.css");
