.sidebar{
    flex: 0 0 240px;
    margin-right: 1rem;
    transition: all .3s ease-in-out;
    height: 100%;
}
.sidebar__heading{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 1rem;
    padding: .5rem 0;
}
.sidebar__link{
    padding: 0.7rem 1.9rem;
    font-size: 13px;
    font-weight: 400;
}
.sidebar__link:hover{
    color: var(--text-color);
}


@media screen and (max-width:600px) {
      .sidebar{
          display: none;
      }
      .show{
        display: block;
        width: 50%;
        z-index: 5;
        background-color: #fff;
    }
}