<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eagle | Text</title>
    <link rel="stylesheet" href="/css/component.css">
</head>

<body>
    <h3 class="heading text__center">Heading</h3>
    <div class="heading">

        <h1>H-1 Heading 1</h2>
            <h2>H-1 Heading 1</h2>
            <h3>H-1 Heading 1</h3>
            <h4>H-1 Heading 1</h4>
            <h5>H-1 Heading 1</h5>
            <h6>H-1 Heading 1</h6>
    </div>

    <hr class="horizonatl-line">

    <h3 class=" heading text__center">Alignment</h3>
    <div class="alignment">
        <h6 class="text__left">Left Align </h6>
        <h6 class="text__center">Center Align </h6>
        <h6 class="text__right">Right Align </h6>
    </div>

    <hr class="horizonatl-line">

    <h3 class=" heading text__center">font-size</h3>
    <div class="font-size">
        <p class="fs__6">font-size 6</p>
        <p class="fs__5">font-size 5</p>
        <p class="fs__4">font-size 4</p>
        <p class="fs__3">font-size 3</p>
        <p class="fs__2">font-size 2</p>
        <p class="fs__1">font-size 1</p>
    </div>

    <hr class="horizonatl-line">

    <h3 class=" heading text__center">Font Weight</h3>
    <div class="font-weight">
        <h5 class="fw__900">Font weight 900</h5>
        <h5 class="fw__700">Font weight 700</h5>
        <h5 class="fw__400">Font weight 400</h5>
        <h5 class="fw__300">Font weight 300</h5>
        <h5 class="fw__100">Font weight 100</h5>
    </div>

    <hr class="horizonatl-line">

    <h3 class=" heading text__center">Grey text</h3>
    <div class="text__grey">
        <small>small text grey</small>
        <p class="text__grey">Text Grey</p>
        <strong>strong grey</strong>
        <h3 class="text__grey">heading grey</h3>
    </div>

    <hr class="horizonatl-line">

    <h3 class=" heading text__center">Paragraph</h3>
    <div class="paragraph">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae suscipit assumenda aliquam quod eius adipisci
            laborum! Esse similique nam, nostrum provident necessitatibus aliquam, itaque sint vero reprehenderit
            adipisci ex tempora.</p>
    </div>
    
</body>

</html>