<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eagle | Grid</title>
    <link rel="icon" type="image/svg+xml" href="/img/dove-solid.png">
    <link rel="stylesheet" href="/css/component.css" />
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
    integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/themes/prism-twilight.min.css"
    integrity="sha512-ch9ThmrGmkVrVm9tL/puGmSfzQps4yk9LDrWuswb65ZnPOIKuYZBen1yn3ez/fEbgeBqrU/IJ443OqgallfE9Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/toolbar/prism-toolbar.min.css" />
</head>
<body>
    
    <nav class="navbar">
        <div class="navbar__left">
          <p class="navbar__logo"><a href="/index.html">Eagle UI </a></p>
        </div>
        <ul class="navbar__right">
          <li class="navbar__link"><a href="/Documentation/docs.html"> Docs </a></li>
          <li class="navbar__link">Release</li>
          <li class="navbar__hamburger"><i class="fas fa-bars"></i></li>
        </ul>
      </nav>
      <div class="doc-container">
        <aside class="sidebar">
          <header class="sidebar__heading">Get Started</header>
          <hr />
          <ul>
            <li class="sidebar__link">
              <a href="/Documentation/docs.html">Introduction</a>
            </li>
            <li class="sidebar__link"><a href="/components/Color/color.html">Colors</a></li>
            <li class="sidebar__link">
              <a href="/components/Text-Utility/text.html">Text Utility</a>
            </li>
            <header id="components" class="sidebar__heading">Components</header>
            <hr />
            <li class="sidebar__link">
              <a href="/components/Avatar/avatar.html">Avatar </a>
            </li>
            <li class="sidebar__link">
              <a href="/components/Alert/alert.html">Alert</a>
            </li>
            <li class="sidebar__link">
              <a href="/components/Badge/badge.html">Badge</a>
            </li>
            <li class="sidebar__link">
              <a href="/components/Button/button.html">Button</a>
            </li>
            <li class="sidebar__link">
              <a href="/components/Card/card.html">Card</a>
            </li>
            <li class="sidebar__link">
              <a href="/components/Image-Resp/image.html">Image</a>
            </li>
            <li class="sidebar__link">
              <a href="/components/Input/input.html">Input </a>
            </li>
            <li class="sidebar__link">
              <a href="/components/Toast/toast.html">Toast</a>
            </li>
            <li class="sidebar__link">
              <a href="/components/Navigation/navigation.html">Navigation</a>
            </li>
            <li class="sidebar__link"><a href="/components/List/list.html">List</a></li>
            <li class="sidebar__link"><a class="active" href="/components/Grid/grid.html">Grid</a></li>
          </ul>
        </aside>
    
        <main class="content">
          <div class="content__topic">Grid</div>
          <p class="content__subtitle">
            A grid layout provides a versatile layout to place elements on the page.There are two grid layouts available two and three column layouts.
          </p>
          <hr class="divider" />
          <div class="content__topic">Two column grid</div>
          <div class="content__subtitle">
            Two column grid can be used by using the <span class="class__name">'grid__two'</span> class. You can copy html part from below code snippet.
          </div>
          <div class="example__div">
            <div class="grid grid__two">
                <div class="grid__item">Grid One</div>
                <div class="grid__item">Grid Two</div>
            </div>
          </div>
          <div class="code-snippet-display">
        <pre>
            <code class = "language-html" data-prismjs-copy="Copy">
&lt;div class="grid grid__two"&gt;
&lt;div class="grid__item"&gt;Grid One&lt;/div&gt;
&lt;div class="grid__item"&gt;Grid Two&lt;/div&gt;
&lt;/div&gt;
            </code>
        </pre>
        <hr class="divider" />
        <div class="content__topic">Three column grid</div>
        <div class="content__subtitle">
          Three column grid can be used by using the <span class="class__name">'grid__three'</span> class. You can copy html part from below code snippet.
        </div>
          <div class="example__div">
            <div class="grid grid__three">
                <div class="grid__item">Grid One</div>
                <div class="grid__item">Grid Two</div>
                <div class="grid__item">Grid Three</div>
              </div>
          </div>
          <div class="code-snippet-display">
            <pre>
                <code class = "language-html" data-prismjs-copy="Copy">
&lt;div class="grid grid__three"&gt;
&lt;div class="grid__item"&gt;Grid One&lt;/div&gt;
&lt;div class="grid__item"&gt;Grid Two&lt;/div&gt;
&lt;div class="grid__item"&gt;Grid Three&lt;/div&gt;
&lt;/div&gt;
                </code>
            </pre>
            <hr class="divider" />

            <div class="content__topic">Four column grid</div>
            <div class="content__subtitle">
              Four column grid can be used by using the <span class="class__name">'grid__four'</span> class. You can copy html part from below code snippet.
            </div>

          <div class="example__div">
            <div class="grid grid__four">
                <div class="grid__item">Grid One</div>
                <div class="grid__item">Grid Two</div>
                <div class="grid__item">Grid Three</div>
                <div class="grid__item">Grid Four</div>
              </div>
            </div>

            <div class="code-snippet-display">
                <pre>
                    <code class = "language-html" data-prismjs-copy="Copy">
&lt;div class="grid grid__four"&gt;
&lt;div class="grid__item"&gt;Grid One&lt;/div&gt;
&lt;div class="grid__item"&gt;Grid Two&lt;/div&gt;
&lt;div class="grid__item"&gt;Grid Three&lt;/div&gt;
&lt;div class="grid__item"&gt;Grid Four&lt;/div&gt;
&lt;/div&gt;
                    </code>
                </pre>
                <hr class="divider" />
                <footer>
                  <div class="prev__component">
                    <i class="fas fa-chevron-left"></i>
                    <a href="../List/list.html">List</a>
                  </div>
                </footer>
        </main>






    <script src="/script.js"></script>

    <!-- Prism.js Theme Plugin CDN link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/prism.min.js"
      integrity="sha512-pSVqGtpGygQlhN8ZTHXx1kqkjQr30eM+S6OoSzhHGTjh6DKdfy7WZlo1DNO9bhtM0Imf6xNLznZ7iVC2YUMwJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Prism.js copy-to-clipboard functionality plugin cdn link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/toolbar/prism-toolbar.min.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js">
    </script>

</body>
</html>