@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-family:'Montserrat', sans-serif;
    --primary-color: #7c3aed;
    --text-color: rgb(90, 90, 90);
    --danger-color: #dc143c;
    --border-color: #999;
    --off-white : #F6F9FC;
    --success-color: #4CAF50;
    --error-color: #dc143c;
    --warning-color: #FF9800;
    --info-color:  #ca8a04;
 }
 html {
     font-size: 16px;
     scroll-behavior: smooth;
 }
 body{
     width: 80%;
     min-height: 100vh;
     height: max-content;
     margin: auto;
     font-family: var(--font-family);
 }
 img{
    height: 100%;
	width: 100%;
	object-fit: cover;
 }
 li{
     list-style-type: none;
 }
 a{
     text-decoration: none;
     color: var(--text-color);
 }
 .hero{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
 }
 .hero__background{
     width: 20rem;
 }
 .hero__heading{
     font-size: 3rem;
     font-weight: 700;
     text-transform: capitalize;
 }
 .hero__sub-heading{
     font-size: 1.5rem;
     font-weight: 300;
     margin: auto;
     width: 90%;
     line-height: 2.5rem;
     padding: 1rem 0 1.5rem;
 }
 .btn-container{
     margin: auto;
     display: flex;
     justify-content: space-evenly;
     width: 300px;
 }
 .btn{
     font-weight: 600;
     min-width: 100px;
     padding: .8rem;
     border-radius: 5px;
     border: none;
     cursor: pointer;
     transition: all .3s ease-in-out;
 }
 .btn__primary{
     background-color: var(--primary-color);
     color: #fcfcfc;
 }
 .btn__primary:hover{
     background-color: #fcfcfc;
     border: 1px solid var(--primary-color);
     color: #111;

 }
 .btn__secondary{
    color: #111;
    border: 1px solid var(--primary-color);
 }
 .btn__secondary:hover{
    background-color: var(--primary-color);
    color: #fcfcfc;
 }