<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eagle | Card</title>
  <link rel="stylesheet" href="/css/component.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
    integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/themes/prism-twilight.min.css"
    integrity="sha512-ch9ThmrGmkVrVm9tL/puGmSfzQps4yk9LDrWuswb65ZnPOIKuYZBen1yn3ez/fEbgeBqrU/IJ443OqgallfE9Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/toolbar/prism-toolbar.min.css" />

</head>

<body>
  <nav class="navbar">
    <div class="navbar__left">
      <p class="navbar__logo"><a href="/index.html">Eagle UI </a></p>
    </div>
    <ul class="navbar__right">
      <li class="navbar__link"><a href="docs.html"> Docs </a></li>
      <li class="navbar__link">Release</li>
      <li class="navbar__hamburger"><i class="fas fa-bars"></i></li>
    </ul>
  </nav>
  <div class="doc-container">
    <aside class="sidebar">
      <header class="sidebar__heading">Get Started</header>
      <hr />
      <ul>
        <li class="sidebar__link">
          <a href="/Documentation/docs.html">Introduction</a>
        </li>
        <li class="sidebar__link"><a href="#Starter_template">Colors</a></li>
        <li class="sidebar__link">
          <a href="/components/Text-Utility/text.html">Typograpgy</a>
        </li>
        <header id="components" class="sidebar__heading">Components</header>
        <hr />
        <li class="sidebar__link">
          <a href="/components/Avatar/avatar.html">Avatar </a>
        </li>
        <li class="sidebar__link">
          <a href="/components/Alert/alert.html">Alert</a>
        </li>
        <li class="sidebar__link">
          <a href="/components/Badge/badge.html">Badge</a>
        </li>
        <li class="sidebar__link">
          <a href="/components/Button/button.html">Button</a>
        </li>
        <li class="sidebar__link">
          <a href="/components/Card/card.html">Card</a>
        </li>
        <li class="sidebar__link">
          <a href="/components/Image-Resp/image.html">Image</a>
        </li>
        <li class="sidebar__link">
          <a href="/components/Input/input.html">Input </a>
        </li>
        <li class="sidebar__link">
          <a href="/components/Toast/toast.html">Toast</a>
        </li>
        <li class="sidebar__link">
          <a href="/components/Navigation/navigation.html">Navigation</a>
        </li>
      </ul>
    </aside>

    <main class="content">
      <div class="content__topic">Card</div>
      <p class="content__subtitle">
        A card is a flexible and extensible content container. It includes options for headers and footers, a wide
        variety of content, contextual background colors, and powerful display options.
      </p>
      <hr class="divider" />
      <div class="content__topic">Card With Badge</div>
      <div class="content__subtitle">This card comes with a badge that gives a short message like Premium Quality or out of stock</div>
      <div class="example__div">
        <div class="card">
          <div class="card__img">
            <span class="card--badge">Premium</span>
            <img src="https://cdn.theculturetrip.com/wp-content/uploads/2015/11/16663771787_b69fecf577_h.jpg"
              alt="shoes" />
          </div>
          <header class="card__heading">Gateway Of India</header>
          <p class="card__place">Mumbai, IN</p>
          <p class="card__desc">
            Gateway of India is located on the waterfront in the Apollo Bunder
            area in South Mumbai and overlooks the Arabian Sea
          </p>
          <footer class="footer">
            <div class="footer__left">
              <p>Read</p>
              <p>Bookmark</p>
            </div>
            <div class="footer_right">
              <span class="span"><i class="far fa-heart"></i></span>
              <span class="span"><i class="fas fa-share-alt"></i></span>
              <span class="span"><i class="fas fa-ellipsis-v"></i></span>
            </div>
          </footer>
        </div>
      </div>
      <div class="code-snippet-display">
        <pre>
          <code class = "language-html" data-prismjs-copy="Copy">
&lt;div class="card"&gt;
&lt;div class="card__img"&gt;
&lt;span class="card--badge">Premium&lt;/span&gt;
&lt;img src="img-url" alt="Gate Of India" /&gt;
&lt;/div>
&lt;header class="card__heading">Gateway Of India&lt;/header&gt;
&lt;p class="card__place">Mumbai, IN&lt;/p&gt;
&lt;p class="card__desc"&gt;
Gateway of India is located on the waterfront in the Apollo Bunder
area in South Mumbai and overlooks the Arabian Sea.&lt;/p&gt;
&lt;footer class="footer"&gt;
&lt;div class="footer__left"&gt;
&lt;p>Read&lt;/p&gt;
&lt;p>Bookmark&lt;/p&gt;
&lt;/div&gt;
&lt;div class="footer_right"&gt;
&lt;span class="span"&gt;&lt;i class="far fa-heart">&lt;/i>&lt;/span&gt;
&lt;span class="span"&gt;&lt;i class="fas fa-share-alt"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span class="span"&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;/div>
&lt;/footer>
&lt;/div>
          </code>
      </pre>
        <hr class="divider" />
        <div class="content__topic">Vertical Card</div>
        <div class="example__div">
          <div class=" card card--order">
            <div class="card__img card__img--order">
              <img src="https://cdn.theculturetrip.com/wp-content/uploads/2015/11/16663771787_b69fecf577_h.jpg"
                alt="Gateway Of India" />
            </div>
            <header class="card__heading">Gateway Of India</header>
            <p class="card__place card__place-order">Mumbai, IN</p>
            <p class="card__desc card__desc--order">
              Gateway of India is located on the waterfront in the Apollo Bunder
              area in South Mumbai and overlooks the Arabian Sea
            </p>
            <footer class="footer footer__order">
              <div class="footer__left">
                <p>Read</p>
                <p>Bookmark</p>
              </div>
              <div class="footer__right">
                <span class="span"><i class="far fa-heart"></i></span>
                <span class="span"><i class="fas fa-share-alt"></i></span>
                <span class="span"><i class="fas fa-ellipsis-v"></i></span>
              </div>
            </footer>
          </div>
        </div>
        <div class="code-snippet-display">
          <pre>
            <code class = "language-html" data-prismjs-copy="Copy">
&lt;div class=" card card--order"&gt;
&lt;div class="card__img card__img--order"&gt;
&lt;img src="img-url" alt="Gateway Of India"/&gt;
&lt;/div&gt;
&lt;header class="card__heading">Gateway Of India&lt;/header&gt;
&lt;p class="card__place card__place-order">Mumbai, IN&lt;/p&gt;
&lt;p class="card__desc card__desc--order"&gt;
Gateway of India is located on the waterfront in thBunder
area in South Mumbai and overlooks the Arabian Sea
&lt;/p&gt;
&lt;footer class="footer footer__order"&gt;
&lt;div class="footer__left"&gt;
&lt;p&lt;Read&lt;/p&gt;
&lt;p&gt;Bookmark&lt;/p&gt;
&lt;/div&gt;
&lt;div class="footer__right"&gt;
&lt;span class="span"&gt;&lt;i class="far fa-heart"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span class="span"&gt;&lt;i class="fas fa-share-alt"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span class="span"&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;/div>
&lt;/footer>
&lt;/div>
            </code>
        </pre>
          <hr class="divider">
          <div class="content__topic">Card with text overlay</div>
          <div class="example__div">
            <div class="card card--position">
              <div class="card__img card__img--position">
                <img src="https://cdn.theculturetrip.com/wp-content/uploads/2015/11/16663771787_b69fecf577_h.jpg"
                  alt="Gateway Of India" />
                <span class="card__heading card__heading--position">Gateway Of India</span>
                <p class="card__place card__place--position">Mumbai, IN</p>
              </div>
              <p class="card__desc">
                Gateway of India is located on the waterfront in the Apollo Bunder
                area in South Mumbai and overlooks the Arabian Sea
              </p>
              <footer class="footer">
                <div class="footer__left">
                  <p>Read</p>
                  <p>Bookmark</p>
                </div>
                <div class="footer__right">
                  <span class="span"><i class="far fa-heart"></i></span>
                  <span class="span"><i class="fas fa-share-alt"></i></span>
                  <span class="span"><i class="fas fa-ellipsis-v"></i></span>
                </div>
              </footer>
            </div>
          </div>
          <div class="code-snippet-display">
            <pre>
          <code class = "language-html" data-prismjs-copy="Copy">
&lt;div class="card card--position"&gt;
&lt;div class="card__img card__img--position"&gt;
&lt;img src="img-url" alt="Gateway Of India" /&gt;
&lt;span class="card__heading card__heading--position">Gateway Of India&lt;/span&gt;
&lt;p class="card__place card__place--position">Mumbai, IN&lt;/p&gt;
&lt;/div&gt;
&lt;p class="card__desc"&gt;
Gateway of India is located on the waterfront in theBunder
area in South Mumbai and overlooks the Arabian Sea
&lt;/p&gt;
&lt;footer class="footer"&gt;
&lt;div class="footer__left"&gt;
&lt;p&gt;Read&lt;/p&gt;
&lt;p&gt;Bookmark&lt;/p&gt;
&lt;/div&gt;
&lt;div class="footer__right"&gt;
&lt;span class="span"&gt;&lt;i class="far fa-heart"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span class="span"&gt;&lt;i class="fas fa-share-alt"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span class="span"&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;/div>
&lt;/footer>
&lt;/div>
          </code>
      </pre>
            <hr class="divider">


            <div class="content__topic">Simple Card</div>
            <div class="content__subtitle">
              Simple Card is the one that contains a image, title, a descriptive text.
            </div>
            <div class="example__div">
              <div class="card">
                <div class="card__img">
                  <img src="https://cdn.theculturetrip.com/wp-content/uploads/2015/11/16663771787_b69fecf577_h.jpg"
                    alt="Gateway Of India" />
                </div>
                <header class="card__heading">Gateway Of India</header>
                <p class="card__place">Mumbai, IN</p>
                <p class="card__desc">
                  Gateway of India is located on the waterfront in the Apollo Bunder
                  area in South Mumbai and overlooks the Arabian Sea
                </p>
                <footer class="footer">
                  <div class="footer__left">
                    <p>Read</p>
                    <p>Bookmark</p>
                  </div>
                  <div class="footer__right footer__right--hide">
                    <span><i class="far fa-heart"></i></span>
                    <span><i class="fas fa-share-alt"></i></span>
                    <span><i class="fas fa-ellipsis-v"></i></span>
                  </div>
                </footer>
              </div>
            </div>
            <div class="code-snippet-display">
              <pre>
          <code class = "language-html" data-prismjs-copy="Copy">
&lt;div class="card"&gt;
&lt;div class="card__img"&gt;
&lt;img src="img-url" alt="Gateway Of India" /&gt;
&lt;/div&gt;
&lt;header class="card__heading">Gateway Of India&lt;/header&gt;
&lt;p class="card__place">Mumbai, IN&lt;/p&gt;
&lt;p class="card__desc">
Gateway of India is located on the waterfront in thBunder
area in South Mumbai and overlooks the Arabian Sea&lt;/p&gt;
&lt;footer class="footer"&gt;
&lt;div class="footer__left"&gt;
&lt;p>Read&lt;/p&gt;
&lt;p>Bookmark&lt;/p&gt;
&lt;/div&gt;
&lt;div class="footer__right footer__right--hide"&gt;
&lt;span&gt;&lt;i class="far fa-heart"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span&gt;&lt;i class="fas fa-share-alt"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;/div>
&lt;/footer>
&lt;/div>
          </code>
      </pre>
              <hr class="divider">

              <div class="content__topic">Text only Card</div>
              <div class="content__subtitle">A text only card with like and share icon.</div>
              <div class="example__div">
                <div class="card card--text">
                  <header class="card__heading">Gateway Of India</header>
                  <p class="card__place">Mumbai, IN</p>
                  <p class="card__desc">
                    Gateway of India is located on the waterfront in the Apollo Bunder
                    area in South Mumbai and overlooks the Arabian Sea
                  </p>
                  <footer class="footer footer__right--end">
                    <div class="footer__left footer__left--hide">
                      <p>Read</p>
                      <p>Bookmark</p>
                    </div>
                    <div class="footer__right">
                      <span class="span"><i class="far fa-heart"></i></span>
                      <span class="span"><i class="fas fa-share-alt"></i></span>
                      <span class="span"><i class="fas fa-ellipsis-v"></i></span>
                    </div>
                  </footer>
                </div>
              </div>
              <div class="code-snippet-display">
                <pre>
          <code class = "language-html" data-prismjs-copy="Copy">
&lt;div class="card card--text"&gt;
&lt;header class="card__heading">Gateway Of India&lt;/header&gt;
&lt;p class="card__place">Mumbai, IN&lt;/p&gt;
&lt;p class="card__desc"&gt;
Gateway of India is located on the waterfront in theBunder
area in South Mumbai and overlooks the Arabian Sea
&lt;/p&gt;
&lt;footer class="footer footer__right--end"&gt;
&lt;div class="footer__left footer__left--hide"&gt;
&lt;p>Read&lt;/p&gt;
&lt;p>Bookmark&lt;/p&gt;
&lt;/div&gt;
&lt;div class="footer__right"&gt;
&lt;span class="span"&gt;&lt;i class="far fa-heart"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span class="span"&gt;&lt;i class="fas fa-share-alt"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span class="span"&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;/div>
&lt;/footer>
&lt;/div>
          </code>
      </pre>
                <hr class="divider">

                <div class="content__topic">Horizantal Card</div>
                <div class="content__subtitle">
                  A horizontal card with text and image
                </div>
                <div class="example__div">
                  <div class="card card--horizontal">
                    <div class="card--horizontal-head">
                      <div class="card--horizontal-img">
                        <img
                          src="https://cdn.theculturetrip.com/wp-content/uploads/2015/11/16663771787_b69fecf577_h.jpg"
                          alt="mumbai train" />
                      </div>
                      <div class="card--horizontal-text">
                        <header class="card__heading">Gateway Of India</header>
                        <p class="card__place">Mumbai, IN</p>
                      </div>
                    </div>
                    <footer class="footer">
                      <div class="footer__left">
                        <p>Read</p>
                        <p>Bookmark</p>
                      </div>
                      <div class="footer_right">
                        <span class="span"><i class="far fa-heart"></i></span>
                        <span class="span"><i class="fas fa-share-alt"></i></span>
                        <span class="span"><i class="fas fa-ellipsis-v"></i></span>
                      </div>
                    </footer>
                  </div>
                </div>
                <div class="code-snippet-display">
                  <pre>
          <code class = "language-html" data-prismjs-copy="Copy">
&lt;div class="card card--horizontal"&gt;
&lt;div class="card--horizontal-head"&gt;
&lt;div class="card--horizontal-img"&gt;
&lt;img src="img-url" alt="mumbai train" /&gt;
&lt;/div&gt;
&lt;div class="card--horizontal-text"&gt;
&lt;header class="card__heading">Gateway Of India&lt;/header&gt;
&lt;p class="card__place">Mumbai, IN&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;footer class="footer"&gt;
&lt;div class="footer__left"&gt;
&lt;p>Read&lt;/p&gt;
&lt;p>Bookmark&lt;/p&gt;
&lt;/div&gt;
&lt;div class="footer_right"&gt;
&lt;span class="span"&gt;&lt;i class="far fa-heart"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span class="span"&gt;&lt;i class="fas fa-share-alt"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span class="span"&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;/div>
&lt;/footer>
&lt;/div>
          </code>
      </pre>
                  <hr class="divider">
                  <div class="content__topic">Card With Dismiss</div>
                  <div class="content__subtitle">A card with image and text with icon buttons and a dismiss button with that help of dismiss button you can close this card</div>
                  <div class="example__div">
                    <div class="card">
                      <div class="card__img">
                        <span class="card__dismiss-icon">X</span>
                        <img
                          src="https://cdn.theculturetrip.com/wp-content/uploads/2015/11/16663771787_b69fecf577_h.jpg"
                          alt="shoes" />
                      </div>
                      <header class="card__heading">Gateway Of India</header>
                      <p class="card__place">Mumbai, IN</p>
                      <p class="card__desc">
                        Gateway of India is located on the waterfront in the Apollo Bunder
                        area in South Mumbai and overlooks the Arabian Sea
                      </p>
                      <footer class="footer">
                        <div class="footer__left">
                          <p>Read</p>
                          <p>Bookmark</p>
                        </div>
                        <div class="footer_right">
                          <span class="span"><i class="far fa-heart"></i></span>
                          <span class="span"><i class="fas fa-share-alt"></i></span>
                          <span class="span"><i class="fas fa-ellipsis-v"></i></span>
                        </div>
                      </footer>
                    </div>
                  </div>
                  <div class="code-snippet-display">
                    <pre>
                <code class = "language-html" data-prismjs-copy="Copy">
&lt;div class="card"&gt;
&lt;div class="card__img"&gt;
&lt;span class="card__dismiss-icon">X&lt;/span&gt;
&lt;img src="img-url" alt="Gateway Of India"/&gt;
&lt;/div&gt;
&lt;header class="card__heading">Gateway Of India</header&gt;
&lt;p class="card__place">Mumbai, IN&lt;/p&gt;
&lt;p class="card__desc"&gt;
Gateway of India is located on the waterfront Apollo Bunder
area in South Mumbai and overlooks the Arabian Sea
&lt;/p&gt;
&lt;footer class="footer"&gt;
&lt;div class="footer__left"&gt;
&lt;p>Read&lt;/p&gt;
&lt;p>Bookmark&lt;/p&gt;
&lt;/div&gt;
&lt;div class="footer_right"&gt;
&lt;span class="span"&gt;&lt;i class="far fa-heart"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span class="span"&gt;&lt;i class="fas fa-share-alt"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span class="span"&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;/div>
&lt;/footer>
&lt;/div>
                </code>
            </pre>
                    <hr class="divider" />
                    <footer>
                      <div class="prev__component">
                        <i class="fas fa-chevron-left"></i>
                        <a href="../Button/button.html">Button</a>
                      </div>
                      <div class="next__component">
                        <a href="../Image-Resp/image.html">Image</a>
                        <i class="next__icon fas fa-chevron-right"></i>
                      </div>
                    </footer>
    </main>

    <script src="/script.js"></script>

    <!-- Prism.js Theme Plugin CDN link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/prism.min.js"
      integrity="sha512-pSVqGtpGygQlhN8ZTHXx1kqkjQr30eM+S6OoSzhHGTjh6DKdfy7WZlo1DNO9bhtM0Imf6xNLznZ7iVC2YUMwJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Prism.js copy-to-clipboard functionality plugin cdn link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/toolbar/prism-toolbar.min.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js">
    </script>

</body>

</html>