  :root {
    --bg-color: blueviolet;
    --white: #fff;
    --black: #111;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 21.875rem;
    height: 28rem;
    border-radius: 5px;
    margin: 1rem 1rem;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .card__heading {
    padding: 1rem 0 0 1rem;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }

  .card__img {
    width: 21.875rem;
    position: relative;
  }

  .card__desc,
  .card__place {
    padding: 0.5rem 0 0 1rem;
    font-size: 0.9rem;
    font-weight: 300;
  }

  .card--badge {
    position: absolute;
    text-transform: uppercase;
    top: 0.2rem;
    right: 0.3rem;
    border-radius: 5px;
    z-index: 10;
    padding: 0.5rem;
    font-size: 0.75rem;
    font-weight: 700;
    background-color: var(--bg-color);
    color: var(--white);
    margin: 0;
  }

  .footer {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
  }

  .footer__left {
    display: flex;
  }

  .footer__left p {
    padding: 0 .8rem;
    color: var(--bg-color);
  }

  .footer__right {
    margin: 0 0.9rem;
    color: var(--black);
  }

  .span {
    padding: 0 0.5rem;
    font-size: 1.2rem;
    text-align: center;
  }

  .card--order {
    height: 26.875rem;
  }

  .footer__order {
    order: 3;
  }

  .card__img--order {
    order: 2;
  }

  .card__place-order {
    order: 1;
    padding-bottom: 0.5rem;
  }

  .card__desc--order {
    order: 3;
  }

  .card--position {
    height: 21.785rem;
  }

  .card__img--position {
    position: relative;
  }

  .card__heading--position {
    position: absolute;
    left: 0;
    bottom: 2rem;
    padding-bottom: 0.8rem;
    color: var(--white);
  }

  .card__place--position {
    position: absolute;
    bottom: 1rem;

    font-weight: 500;
    font-size: 1rem;
    color: var(--white);
  }

  .footer__right--hide,
  .footer__left--hide {
    display: none;
  }

  .footer__right--end {
    display: flex;
    justify-content: end;
  }

  .card--text {
    height: 11.25rem;
  }

  .card--horizontal {
    width: 21.875rem;
    height: max-content;
    position: relative;
  }

  .card--horizontal-head {
    display: flex;
  }

  .card--horizontal-img {
    border-top-left-radius: 8px;
    overflow: hidden;
  }

  .card--horizontal-img img {
    width: 7.5rem;
  }

  .card--horizontal-text {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    text-align: left;
  }

  .card--dismiss {
    border-radius: 0.625rem;
    height: 25rem;
  }

  .card--dismiss-img {
    position: relative;
  }

  .card__dismiss-icon {
    position: absolute;
    text-transform: uppercase;
    top: 0.5rem;
    right: 0.6rem;
    z-index: 10;
    padding: 0.5rem;
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--white);
    margin: 0;
    border-radius: 50px;
    background-color: black;
  }

  .card--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card--dismiss-heading {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  .card__buy,
  .card__close {
    width: 10rem;
    padding: 0.5rem 1.2rem;
    font-size: 0.8rem;
    border-width: 0;
    margin: 0.8rem 0;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--white);
  }

  .card__close {
    border: 1px solid var(--bg-color);
    background-color: var(--white);
    color: var(--black);
  }

  .card--shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .product__cards{
    max-width: 50rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 3rem;
    text-align: center;
    
}
.heading{
    padding:2rem  2rem 0 2rem;
    font-size: 1rem;
}
.product__subtext{
    font-size: .8rem;
    padding-left: .5rem;
}
.product__card{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all .3s ease-in;
}
.product__card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.product__image{
    width: 100%;
    height: 13rem;
    object-fit: cover;
    display: block;
    background-color: var(--grey);
    padding: 1rem;
    position: relative;
 }
.product__image > img{
  object-fit: contain;
}
 .product__favourite{
     position: absolute;
     right: .2rem;
     width: 2rem;
     height: 2rem;
     border-radius: 50px;
     color: #dc143c;
     padding: .45rem;
     top: .35rem;
     background-color: var(--white)
 }
.product__heading{
     padding: 1rem 0;
     font-size: 1.2rem;
     font-weight: 500;
}