<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EagleUI | Input</title>
    <link rel="stylesheet" href="/css/component.css" />
  </head>
  <body>
      <div class="input">
        <label>Name</label>
        <input class="input-txt" type="text" />
      </div>
      <div class="input">
        <label>Email</label>
        <input class="input-txt" type="email" />
      </div>
      <div class="input input--err">
        <label>Password</label>
        <input class="input-txt" type="password" />
        <p class="input--err">Wrong Password. Try again.</p>
      </div>
      <div class="input">
        <textarea class="textarea" cols="40" rows="10"></textarea>
      </div>
      
      <div class="input">
        <input  type="range"  id="input-id-range"  min="0"
        max="100" defaultValue="70"  className="cur-point"
      />
      </div>

      <div class="radio">
        <input type="radio" name="language" value="HTML" />
        <label for="html">HTML</label><br />
        <input type="radio" name="language" value="CSS" />
        <label for="css">CSS</label><br />
        <input type="radio" name="language" value="JavaScript" disabled />
        <label for="javascript">JavaScript</label>
      </div>

  </body>
</html>
