<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EagleUI | Input</title>
    <link rel="stylesheet" href="/css/component.css" />
  </head>
  <body>
    <div class="input-container">
      <div class="input">
        <label>Name</label>
        <input class="input-txt" type="text" />
      </div>
      <div class="input">
        <label>Email</label>
        <input class="input-txt" type="email" />
      </div>
      <div class="input">
        <label>Password</label>
        <input class="input-txt" type="password" />
      </div>
    </div>

    <div class="input-container">
      <div class="radio">
        <input type="radio" name="language" value="HTML" />
        <label for="html">HTML</label><br />
        <input type="radio" name="language" value="CSS" />
        <label for="css">CSS</label><br />
        <input type="radio" name="language" value="JavaScript" disabled />
        <label for="javascript">JavaScript</label>
      </div>
    </div>
  </body>
</html>
