<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eagle | Button</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/component.css" />
  </head>
  <body>
    <header>Button</header>
    <button class="btn btn__default">Primary</button>
    <button class="btn btn--secondary">Secondary</button>
    <button class="btn btn__success">Success</button>
    <button class="btn btn__error">Error</button>
    <button class="btn btn__warn">Warning</button>
    <button class="btn btn__dark">Dark</button>
    <button class="btn btn__light">Light</button>
    <header>Link button</header>

    <button class="btn">
      <a class="btn__link" href="#">Link</a>
    </button>
    <a class="btn__link" href="#">See More</a>

    <header>Icon button</header>

    <button class="btn"><i class="icon fa fa-home"></i> Home</button>
    <button class="btn"><i class="icon fa fa-bars"></i> Menu</button>
    <button class="btn"><i class="icon fa fa-trash"></i> Trash</button>
    <button class="btn"><i class="icon fas fa-times"></i> Close</button>
    <button class="btn"><i class="icon fa fa-folder"></i> Folder</button>

    <header>Outlined button</header>

    <button class="btn btn--outlined">Primary</button>
    <button class="btn btn--outlined outlined__secondary">Secondary</button>
    <button class="btn btn--outlined outlined__success">Success</button>
    <button class="btn btn--outlined outlined__error">Error</button>
    <button class="btn btn--outlined outlined__warn">Warning</button>

    <br />


    <div class="floating-container">
      <ul class="list-item">
      <li class="item">Item One</li>
      <li class="item">Item Two</li>
      <li class="item">Item Three</li>
    </ul>
    <hr>
      <button class="btn__floating"><i class="floating__icon fas fa-chevron-up"></i></button>
    </div>
  </body>
</html>
