<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eagle | Avatar</title>
    <link rel="stylesheet" href="/css/component.css">
  </head>
  <body>
    <div class="content-heading">Profile Avatar</div>
    <div class="avatar">
      <img class="avatar__img" src="https://rb.gy/mvc9gm" alt="Avatar" />
      <img class="avatar__img" src="https://rb.gy/xqmshi" alt="Avatar" />
      <img class="avatar__img" src="https://rb.gy/2trpns" alt="Avatar" />
    </div>
    <div class="content-heading">Size Avatar</div>
    <div class="avatar">
      <img class="avatar__img lg" src="https://rb.gy/2trpns" alt="Avatar" />
      <img class="avatar__img md" src="https://rb.gy/xqmshi" alt="Avatar" />
      <img class="avatar__img sm" src="https://rb.gy/mvc9gm" alt="Avatar" />
    </div>
  </body>
</html>
