<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eagle | Toast</title>
    <link rel="stylesheet" href="/css/component.css">
</head>
<body>
    <div class="toast">
        <h3 class="heading">Standard Toast</h3>
        <p class="toast__msg toast__standard">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem ad consequatur unde esse maxime modi inventore hic expedita, maiores eius iusto assumenda dolore illo tenetur, incidunt sequi quas eaque illum!
        </p>

        <h3 class="heading">Dismissible Toast</h3>
        <p class="toast__msg toast__success">
          Your data is succesfully send!!
          <button class="toast__btn">&times;</button>
        </p>
        <p class="toast__msg toast__warn">
            Your data is succesfully send!!
            <button class="toast__btn">&times;</button>
          </p>
    </div>
</body>
</html>