<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eagle | Color</title>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/component.css" />
    <link rel="stylesheet" href="/css/footer.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/themes/prism-twilight.min.css"
      integrity="sha512-ch9ThmrGmkVrVm9tL/puGmSfzQps4yk9LDrWuswb65ZnPOIKuYZBen1yn3ez/fEbgeBqrU/IJ443OqgallfE9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/toolbar/prism-toolbar.min.css"
    />
</head>
<body>
    <nav class="navbar">
        <div class="navbar__left">
          <p class="navbar__logo"><a href="/index.html">Eagle UI </a></p>
        </div>
        <ul class="navbar__right">
          <li class="navbar__link"><a href="/Documentation/docs.html"> Docs </a></li>
          <li class="navbar__link">Release</li>
          <li class="navbar__hamburger"><i class="fas fa-bars"></i></li>
        </ul>
      </nav>
      <div class="doc-container">
        <aside class="sidebar">
          <header class="sidebar__heading">Get Started</header>
          <hr />
          <ul>
            <li class="sidebar__link">
              <a href="/Documentation/docs.html">Introduction</a>
            </li>
            <li class="sidebar__link"><a href="#">Colors</a></li>
            <li class="sidebar__link">
              <a href="/components/Text-Utility/text.html">Text Utility</a>
            </li>
            <header id="components" class="sidebar__heading">Components</header>
            <hr />
            <li class="sidebar__link">
              <a href="/components/Avatar/avatar.html">Avatar </a>
            </li>
            <li class="sidebar__link">
              <a href="/components/Alert/alert.html">Alert</a>
            </li>
            <li class="sidebar__link">
              <a href="/components/Badge/badge.html">Badge</a>
            </li>
            <li class="sidebar__link">
              <a href="/components/Button/button.html">Button</a>
            </li>
            <li class="sidebar__link">
              <a href="/components/Card/card.html">Card</a>
            </li>
            <li class="sidebar__link">
              <a href="/components/Image-Resp/image.html">Image</a>
            </li>
            <li class="sidebar__link">
              <a href="/components/Input/input.html">Input </a>
            </li>
            <li class="sidebar__link">
              <a href="/components/Toast/toast.html">Toast</a>
            </li>
            <li class="sidebar__link">
              <a href="/components/Navigation/navigation.html">Navigation</a>
            </li>
            <li class="sidebar__link"><a href="/components/List/list.html">List</a></li>
            <li class="sidebar__link"><a href="/components/Grid/grid.html">Grid</a></li>
          </ul>
        </aside>

        <main class="content">
            <div class="content__topic">Color Scheme</div>
            <p class="content__subtitle">
                EagleUI is supported by an extensive color system that themes our styles and components. This enables more comprehensive customization and extension for any project.
            </p>
            <hr class="divider" />
            <div class="content__topic">Default Palette</div>
            <div class="color">
                <div class="color__palette">
                    <div class="primary__color fw__700">Primary</div>
                    <div class="secondary__color fw__700">Secondary</div>
                    <div class="text__color fw__700">Text Color</div>
                    <div class="danger__color fw__700">Danger</div>
                    <div class="warning__color fw__700">Warning</div>
                    <div class="success__color fw__700">Success</div>
                    <div class="offgrey__color fw__700">Off Grey</div>
                    <div class="dark__theme fw__700">Dark Theme</div>
                </div>
            </div>
            <hr class="divider" />
            <footer>
              <div class="prev__component">
                <i class="fas fa-chevron-left"></i>
                <a href="/Documentation/docs.html">Introduction</a>
              </div>
              <div class="next__component">
                <a href="../Text-Utility/text.html">Text Utility</a>
                <i class="next__icon fas fa-chevron-right"></i>
              </div>
            </footer>
</main>

<script src="/script.js"></script>
            </main>
</body>
</html>