<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eagle | Navigation</title>
    <link rel="stylesheet" href="/css/component.css" />
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/themes/prism-twilight.min.css"
      integrity="sha512-ch9ThmrGmkVrVm9tL/puGmSfzQps4yk9LDrWuswb65ZnPOIKuYZBen1yn3ez/fEbgeBqrU/IJ443OqgallfE9Q=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
  
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/toolbar/prism-toolbar.min.css" />
  </head>
  <body>

    <nav class="navbar">
      <div class="navbar__left">
        <p class="navbar__logo"><a href="/index.html">Eagle UI </a></p>
      </div>
      <ul class="navbar__right">
        <li class="navbar__link"><a href="docs.html"> Docs </a></li>
        <li class="navbar__link">Release</li>
        <li class="navbar__hamburger"><i class="fas fa-bars"></i></li>
      </ul>
    </nav>
    <div class="doc-container">
      <aside class="sidebar">
        <header class="sidebar__heading">Get Started</header>
        <hr />
        <ul>
          <li class="sidebar__link">
            <a href="/Documentation/docs.html">Introduction</a>
          </li>
          <li class="sidebar__link"><a href="#Starter_template">Colors</a></li>
          <li class="sidebar__link">
            <a href="/components/Text-Utility/text.html">Text Utility</a>
          </li>
          <header id="components" class="sidebar__heading">Components</header>
          <hr />
          <li class="sidebar__link">
            <a href="/components/Avatar/avatar.html">Avatar </a>
          </li>
          <li class="sidebar__link">
            <a href="/components/Alert/alert.html">Alert</a>
          </li>
          <li class="sidebar__link">
            <a href="/components/Badge/badge.html">Badge</a>
          </li>
          <li class="sidebar__link">
            <a href="/components/Button/button.html">Button</a>
          </li>
          <li class="sidebar__link">
            <a href="/components/Card/card.html">Card</a>
          </li>
          <li class="sidebar__link">
            <a href="/components/Image-Resp/image.html">Image</a>
          </li>
          <li class="sidebar__link">
            <a href="/components/Input/input.html">Input </a>
          </li>
          <li class="sidebar__link">
            <a href="/components/Toast/toast.html">Toast</a>
          </li>
          <li class="sidebar__link">
            <a href="/components/Navigation/navigation.html">Navigation</a>
          </li>
        </ul>
      </aside>
  
      <main class="content">
        <div class="content__topic">Navigation</div>
        <p class="content__subtitle">
          Navigation is used to navigate between different pages.
        </p>
        <hr class="divider" />
      <!-- Desktop Simple NavBar -->
    <div class="content__topic">Desktop Simple NavBar</div>
    <div class="example__div">
    <nav class="navigation">
      <div class="navigation__logo">
        <h3 class="navigation__heading">EagleUI</h3>
      </div>
      <ul class="navbar__menu">
        <li class="navbar__link">Home</li>
        <li class="navbar__link">Project</li>
        <li class="navbar__link">About</li>
        <li class="navbar__link">Contact</li>
      </ul>
    </nav>
  </div>
    <div class="code-snippet-display">
      <pre>
          <code class = "language-html" data-prismjs-copy="Copy">
&lt;nav class="navigation"&gt;
&lt;div class="navigation__logo"&gt;
&lt;h3 class="navigation__heading">EagleUI&lt;/h3&gt;
&lt;/div>
&lt;ul class="navbar__menu">
&lt;li class="navbar__link">Home&lt;/li&gt;
&lt;li class="navbar__link">Project&lt;/li&gt;
&lt;li class="navbar__link">About&lt;/li&gt;
&lt;li class="navbar__link">Contact&lt;/li&gt;
&lt;/ul>
&lt;/nav>
          </code>
      </pre>
    <hr class="divider" />

    <!-- Navbar with social Icon -->
    <div class="content__topic">Navbar with social Icon</div>
    <div class="example__div">
    <nav class="navigation">
      <div class="navigation__logo">
        <h3 class="navigation__heading">EagleUI</h3>
      </div>
      <ul class="navbar__menu">
        <li class="navbar__link">Home</li>
        <li class="navbar__link">Project</li>
        <li class="navbar__link">Contact</li>
      </ul>

      <ul class="navbar__social">
        <li class="navbar__social-link"><i class="fab fa-twitter"></i></li>
        <li class="navbar__social-link"><i class="fab fa-github"></i></li>
      </ul>
    </nav>
    </div>
    <div class="code-snippet-display">
      <pre>
          <code class = "language-html" data-prismjs-copy="Copy">
&lt;nav class="navigation"&gt;
&lt;div class="navigation__logo"&gt;
&lt;h3 class="navigation__heading">EagleUI&lt;/h3&gt;
&lt;/div&gt;
&lt;ul class="navbar__menu"&gt;
&lt;li class="navbar__link">Home&lt;/li&gt;
&lt;li class="navbar__link">Project&lt;/li&gt;
&lt;li class="navbar__link">Contact&lt;/li&gt;
&lt;/ul>
        
&lt;ul class="navbar__social"&gt;
&lt;li class="navbar__social-link"&gt;&lt;i class="fab fa-twitter">&lt;/i&gt;&lt;/li&gt;
&lt;li class="navbar__social-link"&gt;&lt;i class="fab fa-github">&lt;/i&gt;&lt;/li&gt;
&lt;/ul>
&lt;/nav>
          </code>
      </pre>
    <hr class="divider" />
    <!-- Navbar with searchBox -->
    <div class="content__topic">Navbar with searchBox</div>
    <div class="example__div">
    <nav class="navigation">
      <h3 class="navigation__heading">EagleUI</h3>
      <ul class="navbar__menu">
        <li class="navbar__link">Home</li>
        <li class="navbar__link">Project</li>
        <li class="navbar__link">Contact</li>
      </ul>
      <div class="navbar__search">
        <input type="search" class="searchbar" />
        <button class="navbar__btn">Search</button>
      </div>
    </nav>
  </div>
    <div class="code-snippet-display">
      <pre>
          <code class = "language-html" data-prismjs-copy="Copy">
&lt;nav class="navigation">
&lt;h3 class="navigation__heading">EagleUI&lt;/h3&gt;
&lt;ul class="navbar__menu"&gt;
&lt;li class="navbar__link">Home&lt;/li&gt;
&lt;li class="navbar__link">Project&lt;/li&gt;
&lt;li class="navbar__link">Contact&lt;/li&gt;
&lt;/ul>
&lt;div class="navbar__search"&gt;
&lt;input type="search" class="searchbar" /&gt;
&lt;button class="navbar__btn">Search&lt;/button&gt;
&lt;/div&gt;
&lt;/nav&gt;
          </code>
      </pre>
    </div>
      <hr class="divider" />
      <footer>
        <div class="prev__component">
          <i class="fas fa-chevron-left"></i>
          <a href="../Toast/toast.html">Toast</a>
        </div>
      </footer>
</main>

    <script src="/script.js"></script>

    <!-- Prism.js Theme Plugin CDN link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/prism.min.js"
      integrity="sha512-pSVqGtpGygQlhN8ZTHXx1kqkjQr30eM+S6OoSzhHGTjh6DKdfy7WZlo1DNO9bhtM0Imf6xNLznZ7iVC2YUMwJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Prism.js copy-to-clipboard functionality plugin cdn link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/toolbar/prism-toolbar.min.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js">
    </script>

  </body>
</html>
