  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1rem;
    border-radius: 5px;
    font-family: var(--font-family);
  }
  .navigation__heading{
      font-size: 1.5rem;
      color: var(--text-color);
  }
  .navbar__menu {
    display: flex;
    align-items: center;
  }
  .navbar__link,
  .navbar__social-link {
    list-style-type: none;
    padding: 0 0.5rem;
    font-size: 1rem;
    color: var(--text-color);
  }
  .navbar__social-link{
      font-size: 1.3rem;
  }
  .navbar__link:hover,
  .navbar__social-link:hover{
      color: var(--black);
      cursor: pointer;
  }
  .navbar__social {
    display: flex;
  }
  .navbar__search {
    display: flex;
  }
  .searchbar {
    width: 100%;
    border-width: 0;
    padding: 0.5rem;
    border-radius: 5px;
    margin-right: 0.5rem;
  }
  .navbar__btn {
    padding: 0.3rem 1rem;
    border-radius: 5px;
    border-width: 0;
    border: 1px solid var(--primary-color);
    font-weight: 600;
  }
  