<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eagle | Navigation</title>
    <link rel="stylesheet" href="/css/component.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>

      <!-- Desktop Simple NavBar -->
    <nav class="navigation">
      <div class="navigation__logo">
        <h3 class="navigation__heading">EagleUI</h3>
      </div>
      <ul class="navbar__menu">
        <li class="navbar__link">Home</li>
        <li class="navbar__link">Project</li>
        <li class="navbar__link">About</li>
        <li class="navbar__link">Contact</li>
      </ul>
    </nav>

    <!-- Navbar with social Icon -->
    <nav class="navigation">
      <div class="navigation__logo">
        <h3 class="navigation__heading">EagleUI</h3>
      </div>
      <ul class="navbar__menu">
        <li class="navbar__link">Home</li>
        <li class="navbar__link">Project</li>
        <li class="navbar__link">Contact</li>
      </ul>

      <ul class="navbar__social">
        <li class="navbar__social-link"><i class="fab fa-twitter"></i></li>
        <li class="navbar__social-link"><i class="fab fa-github"></i></li>
      </ul>
    </nav>

    <!-- Navbar with searchBox -->
    <nav class="navigation">
      <h3 class="navigation__heading">EagleUI</h3>
      <ul class="navbar__menu">
        <li class="navbar__link">Home</li>
        <li class="navbar__link">Project</li>
        <li class="navbar__link">Contact</li>
      </ul>
      <div class="navbar__search">
        <input type="search" class="searchbar" />
        <button class="navbar__btn">Search</button>
      </div>
    </nav>

  </body>
</html>
