<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eagle | Badge</title>
    <link rel="stylesheet" href="/css/component.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="content-heading">Profile Avatar</div>
    <div class="badge-container">
      <div class="badge">
        <img class="avatar__img badge__avatar-lg"
        src="https://st4.depositphotos.com/1001992/21109/i/600/depositphotos_211096346-stock-photo-confident-man-white-shirt-posing.jpg"
        alt=""" />
        <span class="badge__avatar status-online"></span>
      </div>

      <div class="badge">
        <img class="avatar__img badge__avatar-md"
        src="https://st4.depositphotos.com/1001992/21109/i/600/depositphotos_211096346-stock-photo-confident-man-white-shirt-posing.jpg"
        alt=""" />
        <span class="badge__avatar status-idle"></span>
      </div>

      <div class="badge">
        <img class="avatar__img badge__avatar-sm"
        src="https://st4.depositphotos.com/1001992/21109/i/600/depositphotos_211096346-stock-photo-confident-man-white-shirt-posing.jpg"
        alt=""" />
        <span class="badge__avatar status-offline"></span>
      </div>
    </div>
    <div class="content-heading">Number Avatar</div>
    <div class="badge-container">
      <div class="badge">
        <i class="badge__icon fas fa-cart-plus"></i>
        <span class="badge__number">4</span>
      </div>

      <div class="badge">
        <i class="badge__icon fas fa-bell"></i>
        <span class="badge__number">2</span>
      </div>

      <div class="badge">
        <i class="badge__icon fas fa-envelope"></i>
        <span class="badge__number">5</span>
      </div>
    </div>
  </body>
</html>
