<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Eagle | Badge</title>
  <link rel="stylesheet" href="/css/component.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
    integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/themes/prism-twilight.min.css"
    integrity="sha512-ch9ThmrGmkVrVm9tL/puGmSfzQps4yk9LDrWuswb65ZnPOIKuYZBen1yn3ez/fEbgeBqrU/IJ443OqgallfE9Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/toolbar/prism-toolbar.min.css" />
</head>

<body>

  <nav class="navbar">
    <div class="navbar__left">
      <p class="navbar__logo"><a href="/index.html">Eagle UI </a></p>
    </div>
    <ul class="navbar__right">
      <li class="navbar__link"><a href="/Documentation/docs.html"> Docs </a></li>
      <li class="navbar__link">Release</li>
      <li class="navbar__hamburger"><i class="fas fa-bars"></i></li>
    </ul>
  </nav>
  <div class="doc-container">
    <aside class="sidebar">
      <header class="sidebar__heading">Get Started</header>
      <hr />
      <ul>
        <li class="sidebar__link">
          <a href="/Documentation/docs.html">Introduction</a>
        </li>
        <li class="sidebar__link"><a href="#Starter_template">Colors</a></li>
        <li class="sidebar__link">
          <a href="/components/Text-Utility/text.html">Text Utility</a>
        </li>
        <header id="components" class="sidebar__heading">Components</header>
        <hr />
        <li class="sidebar__link">
          <a href="/components/Avatar/avatar.html">Avatar </a>
        </li>
        <li class="sidebar__link">
          <a href="/components/Alert/alert.html">Alert</a>
        </li>
        <li class="sidebar__link">
          <a href="/components/Badge/badge.html">Badge</a>
        </li>
        <li class="sidebar__link">
          <a href="/components/Button/button.html">Button</a>
        </li>
        <li class="sidebar__link">
          <a href="/components/Card/card.html">Card</a>
        </li>
        <li class="sidebar__link">
          <a href="/components/Image-Resp/image.html">Image</a>
        </li>
        <li class="sidebar__link">
          <a href="/components/Input/input.html">Input </a>
        </li>
        <li class="sidebar__link">
          <a href="/components/Toast/toast.html">Toast</a>
        </li>
        <li class="sidebar__link">
          <a href="/components/Navigation/navigation.html">Navigation</a>
        </li>
      </ul>
    </aside>

    <main class="content">
      <div class="content__topic">Badge</div>
      <p class="content__subtitle">
        Badge can be used to show the status information of the user or some count information such as notification
        numbers or number of items in the cart.
      </p>
      <hr class="divider" />
      <div class="content__topic">Profile Badge</div>
      <p class="content__subtitle">
        Badge on Avatar can show different user status, such as offline and online. We have different badges that can be
        used with avatar.
        <span class="content__highlited">It can be used with 3 variants : status--online | status--idle | status--offline</span>
      </p>
      <div class="example__div">
        <div class="badge">
          <img class="avatar__img badge__avatar-lg"
            src="https://st4.depositphotos.com/1001992/21109/i/600/depositphotos_211096346-stock-photo-confident-man-white-shirt-posing.jpg"
            alt="badge image" />
          <span class="badge__avatar status--online"></span>
        </div>

        <div class="badge">
          <img class="avatar__img badge__avatar-md"
            src="https://st4.depositphotos.com/1001992/21109/i/600/depositphotos_211096346-stock-photo-confident-man-white-shirt-posing.jpg"
            alt="badge image" />
          <span class="badge__avatar status--idle"></span>
        </div>

        <div class="badge">
          <img class="avatar__img badge__avatar-sm"
            src="https://st4.depositphotos.com/1001992/21109/i/600/depositphotos_211096346-stock-photo-confident-man-white-shirt-posing.jpg"
            alt="badge image" />
          <span class="badge__avatar status--offline"></span>
        </div>
      </div>

      <div class="code-snippet-display">
        <pre>
            <code class = "language-html" data-prismjs-copy="Copy">
&lt;div class="badge"&gt;
&lt;img class="avatar__img badge__avatar-lg"
src="https://st4.depositphotos.com/1001992/21109/i/600/depositphotos_211096346-stock-photo-confident-man-white-shirt-posing.jpg"
alt="badge image" /&gt;
&lt;span class="badge__avatar status-online">&lt;/span&gt;
&lt;/div&gt;
      
&lt;div class="badge"&gt;
&lt;img class="avatar__img badge__avatar-md"
src="https://st4.depositphotos.com/1001992/21109/i/600/depositphotos_211096346-stock-photo-confident-man-white-shirt-posing.jpg"
alt="badge image" /&gt;
&lt;span class="badge__avatar status-idle"&gt;&lt;/span&gt;
&lt;/div&gt;
      
&lt;div class="badge"&gt;
&lt;img class="avatar__img badge__avatar-sm"
src="https://st4.depositphotos.com/1001992/21109/i/600/depositphotos_211096346-stock-photo-confident-man-white-shirt-posing.jpg"
alt="badge image" /&gt;
&lt;span class="badge__avatar status-offline"&gt; &lt;/span&gt;
&lt;/div&gt;
            </code>
        </pre>
      </div>
      <hr class="divider">
      <div class="content__topic">Number Avatar</div>
      <p class="content__subtitle">
        Number badges on icons is commonly used pattern to display number counts of notification or any other countable thing.
      </p>
      <div class="example__div">
        <div class="badge">
          <i class="badge__icon fas fa-cart-plus"></i>
          <span class="badge__number">4</span>
        </div>

        <div class="badge">
          <i class="badge__icon fas fa-bell"></i>
          <span class="badge__number">2</span>
        </div>

        <div class="badge">
          <i class="badge__icon fas fa-envelope"></i>
          <span class="badge__number">5</span>
        </div>
      </div>
      <div class="code-snippet-display">
        <pre>
            <code class = "language-html" data-prismjs-copy="Copy">
              &lt;div class="badge"&gt;
                &lt;i class="badge__icon fas fa-cart-plus"&gt;&lt;/i&gt;
                &lt;span class="badge__number"&gt;4&lt;/span&gt;
              &lt;/div>
      
              &lt;div class="badge"&gt;
                &lt;i class="badge__icon fas fa-bell"&gt;&lt;/i&gt;
                &lt;span class="badge__number"&gt;2&lt;/span&gt;
              &lt;/div&gt;
      
              &lt;div class="badge"&gt;
                &lt;i class="badge__icon fas fa-envelope">&gt;&lt;/i&gt;
                &lt;span class="badge__number"&gt;5&lt;/span&gt;
              &lt;/div&gt;
            </code>
        </pre>
      <hr class="divider" />
        <footer>
          <div class="prev__component">
            <i class="fas fa-chevron-left"></i>
            <a href="../Alert/alert.html">Alert</a>
          </div>
          <div class="next__component">
            <a href="../Button/button.html">Button</a>
            <i class="next__icon fas fa-chevron-right"></i>
          </div>
        </footer>
</main>

      <script src="/script.js"></script>

      <!-- Prism.js Theme Plugin CDN link -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/prism.min.js"
        integrity="sha512-pSVqGtpGygQlhN8ZTHXx1kqkjQr30eM+S6OoSzhHGTjh6DKdfy7WZlo1DNO9bhtM0Imf6xNLznZ7iVC2YUMwJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

      <!-- Prism.js copy-to-clipboard functionality plugin cdn link -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/toolbar/prism-toolbar.min.js"></script>

      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js">
      </script>
</body>

</html>