.alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .alert__success,
  .alert__info,
  .alert__error,
  .alert__warning {
    color: var(--success-color);
    margin: 1rem;
    padding: 1rem;
    background-color: #edf7ec;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 30rem;
    cursor: pointer;
  }
  .alert__error {
    background-color: #fdecea;
    color: var(--error-color);
  }
  .alert__info {
    background-color: #e8f3fb;
    color: var(--info-color);
  }
  .alert__warning {
    background-color: #fff5e3;
    color: var(--warning-color);
  }
  i {
    padding-right: 0.7rem;
  }
  