<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eagle | Alert</title>
    <link rel="stylesheet" href="/css/component.css">
</head>
<body>
    <div class="alert">
        <div class="alert__success">
          <span><i class="far fa-check-circle"></i></span>
          <strong>Success!! </strong>A simple success alert—check it out!
        </div>
        <div class="alert__info">
          <span><i class="fas fa-info-circle"></i></span>
          <strong>Info!! </strong>A simple primary alert—check it out!
        </div>
        <div class="alert__warning">
          <span><i class="fas fa-exclamation-triangle"></i></span>
          <strong>Warning!! </strong>A simple warning alert—check it out!
        </div>
        <div class="alert__error">
          <span><i class="fas fa-exclamation-circle"></i></span>
          <strong>Error!! </strong>A simple error alert—check it out!
        </div>
      </div>
</body>
</html>