<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eagle | Alert</title>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/component.css" />
    <link rel="stylesheet" href="/css/footer.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/themes/prism-twilight.min.css"
      integrity="sha512-ch9ThmrGmkVrVm9tL/puGmSfzQps4yk9LDrWuswb65ZnPOIKuYZBen1yn3ez/fEbgeBqrU/IJ443OqgallfE9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/toolbar/prism-toolbar.min.css"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__left">
        <p class="navbar__logo"><a href="/index.html">Eagle UI </a></p>
      </div>
      <ul class="navbar__right">
        <li class="navbar__link"><a href="/Documentation/docs.html"> Docs </a></li>
        <li class="navbar__link">Release</li>
        <li class="navbar__hamburger"><i class="fas fa-bars"></i></li>
      </ul>
    </nav>
    <div class="doc-container">
      <aside class="sidebar">
        <header class="sidebar__heading">Get Started</header>
        <hr />
        <ul>
          <li class="sidebar__link">
            <a href="/Documentation/docs.html">Introduction</a>
          </li>
          <li class="sidebar__link"><a href="/components/Color/color.html">Colors</a></li>
          <li class="sidebar__link">
            <a href="/components/Text-Utility/text.html">Text Utility</a>
          </li>
          <header id="components" class="sidebar__heading">Components</header>
          <hr />
          <li class="sidebar__link">
            <a href="/components/Avatar/avatar.html">Avatar </a>
          </li>
          <li class="sidebar__link">
            <a href="/components/Alert/alert.html">Alert</a>
          </li>
          <li class="sidebar__link">
            <a href="/components/Badge/badge.html">Badge</a>
          </li>
          <li class="sidebar__link">
            <a href="/components/Button/button.html">Button</a>
          </li>
          <li class="sidebar__link">
            <a href="/components/Card/card.html">Card</a>
          </li>
          <li class="sidebar__link">
            <a href="/components/Image-Resp/image.html">Image</a>
          </li>
          <li class="sidebar__link">
            <a href="/components/Input/input.html">Input </a>
          </li>
          <li class="sidebar__link">
            <a href="/components/Toast/toast.html">Toast</a>
          </li>
          <li class="sidebar__link">
            <a href="/components/Navigation/navigation.html">Navigation</a>
          </li>
        </ul>
      </aside>

      <main class="content">
        <div class="content__topic">Alert</div>
        <p class="content__subtitle">
          The Alert component is used to show feedback to the user about an
          action or state.
        </p>
        <hr class="divider" />
        <div class="content__topic">Simple Alert</div>
        <p class="content__subtitle">
          The alert offers four severity levels that set a distinctive icon and
          color.
        </p>
        <div class="example__div">
        <div class="alert">
          <div class="alert__success">
            <span><i class="far fa-check-circle"></i></span>
            <strong>Success!! </strong>
            <span>A simple success alert—check it out!</span>
          </div>
          <div class="alert__info">
            <span><i class="fas fa-info-circle"></i></span>
            <strong>Info!! </strong>
            <span>A simple primary alert—check it out! </span>
          </div>
          <div class="alert__warning">
            <span><i class="fas fa-exclamation-triangle"></i></span>
            <strong>Warning!! </strong>
            <span>A simple warning alert—check it out! </span>
          </div>
          <div class="alert__error">
            <span><i class="fas fa-exclamation-circle"></i></span>
            <strong>Error!! </strong>
            <span>A simple error alert—check it out! </span>
          </div>
        </div>
      </div>

        <div class="code-snippet-display">
          <pre>
              <code class = "language-html" data-prismjs-copy="Copy">
        &lt;div class="alert__success"&gt;
        &lt;span&gt;&lt;i class="far fa-check-circle"&gt;&lt;/i&gt;&lt;/span&gt;
        &lt;strong&gt;Success!! &lt;/strong&gt; &lt;span&gt;A simple success alert—check it out!&lt;/span&gt;
        &lt;/div&gt;
        &lt;div class="alert__info"&gt;
        &lt;span&gt;&lt;i class="fas fa-info-circle">&lt;/i>&lt;/span>
        &lt;strong&gt;Info!! &lt;/strong&gt; &lt;span&gt;A simple primary alert—check it out! &lt;/span &gt;
        &lt;/div &gt;
        &lt;div class="alert__warning"&gt;
        &lt;span&gt;&lt;i class="fas fa-exclamation-triangle"&gt;&lt;/i &gt; &lt; /span &gt;
        &lt;strong&gt;Warning!! &lt;/strong &gt; &lt;span&gt;A simple warning alert—check it out! &lt;/span &gt;
        &lt;/div&gt;
        &lt;div class="alert__error"&gt;
        &lt;span&gt;&lt;i class="fas fa-exclamation-circle"&gt;&lt;/i&gt;&lt;/span&gt;
        &lt;strong>Error!! &lt;/strong&gt; &lt;span&gt;A simple error alert—check it out! &lt;/span&gt;
              </code>
          </pre>
        </div>
        <hr class="divider" />
        <footer>
          <div class="prev__component">
            <i class="fas fa-chevron-left"></i>
            <a href="../Avatar/avatar.html">Avatar</a>
          </div>
          <div class="next__component">
            <a href="../Badge/badge.html">Badge</a>
            <i class="next__icon fas fa-chevron-right"></i>
          </div>
        </footer>
      </main>





    <script src="/script.js"></script>

    <!-- Prism.js Theme Plugin CDN link -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/prism.min.js"
      integrity="sha512-pSVqGtpGygQlhN8ZTHXx1kqkjQr30eM+S6OoSzhHGTjh6DKdfy7WZlo1DNO9bhtM0Imf6xNLznZ7iVC2YUMwJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- Prism.js copy-to-clipboard functionality plugin cdn link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/toolbar/prism-toolbar.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
  </body>
</html>
