
.hamburger,
.close-sidebar {
  display: none;
}

.doc-container {
  width: 100%;
  margin: 3.125rem auto 0;
  display: flex;
  padding: 0 1rem;
}

.content {
  min-width: 0;
  margin: 0 auto;
  max-width: 50rem;
  flex: 1 1 0%;
}

.content__heading {
  color: var(--content-color);
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1rem
}

.content__subtitle {
  color: var(--docs-text-color);
  margin-bottom: 2rem;
  font-size: .9rem;
  font-weight: 400;
}

.content__topic {
  color: var( --content-color);
  font-size: 1.7rem;
  font-weight: 800;
  margin: 1rem 0;
}

.divider {
  margin-bottom: 2rem;
  background-color: var(--off-grey);
}

.example__div {
  box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
  border-radius: 4px;
  min-height: 6.25rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}
.alignment__example{
  box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
  border-radius: 4px;
  min-height: 6.25rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.content__highlited{
  color: var(--primary-color);
  display: block;
  font-weight:600;
  padding: .5rem 0;
}
.code__snippet {
  box-sizing: border-box;
  width: 100%;
  height: max-content;
  background-color: var(--off-white);
  margin: 1rem 0;
  overflow: auto;
}
.class__name{
  color: var(--primary-color);
  font-weight: 600;
}



